{
  "presets": [ ["@babel/preset-env", { "modules": false, "targets": { "node": true } }]],
  "plugins": [["@babel/plugin-transform-runtime"], ["import-directory"]],
  "ignore": ["node_modules"],
  "comments": false,
  "minified": true
}